/* Variables*/
$color-primary: #2584ff;
$color-primary-light: lighten($color-primary, 10%);

$color-secondary: #00d9ff;
$color-secondary-light: lighten($color-secondary, 10%);

$color-accent: #ff3400;
$color-accent-light: lighten($color-accent, 10%);

$color-headings: #1b0760;
$color-body: #918ca4;
$color-body-darker: #5c5577;

$color-border: #ccc;

$border-radius: 30px;

html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


@import 'topography.scss';
@import 'badges.scss';
@import 'icons.scss';
@import 'links.scss';
@import 'lists.scss';
@import 'buttons.scss';
@import 'inputs.scss';
@import 'card.scss';
@import 'plans.scss';
@import 'media.scss';
@import 'quote.scss';
@import 'grid.scss';