<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__header">Ready to get started?</h2>
      <p class="callout_description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, suscipit
        necessitatibus praesentium provident quia repudiandae aliquam enim
        distinctio molestiae harum eveniet voluptate quibusdam,
      </p>
    </div>
    <a href="" class="btn btn--secondary">Get Started</a>
  </div>
</div>
