<div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img
          src="images/Me.jpg"
          alt="Non Looking Me."
        />
        <span class="icon-container  icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error dolores
          minus molestias quaerat, reprehenderit sed, eum minima pariatur nulla
          ducimus rem dolore praesentium hic tempora rerum asperiores sequi quam velit
          dolor? Omnis delectus amet, doloremque natus dicta saepe. Inventore
          voluptates ipsa temporibus ad voluptatum ratione ipsam molestiae beatae
          reprehenderit ex.
        </p>
        <footer class="quote__footer">
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Abdulrahman Adel</h3>
              <p class="media__description quote__organization">Roaa Tech</p>
            </div>
          </div>
        </footer>
      </blockquote>
      

    </div>
  </div>